.l2f-circle {
  width: 100%;
  height: 100%;
  position: relative;
  .stripe {
    position: absolute; /* 使用绝对定位 */
    height: 100%; /* 条纹的高度 */
    background: rgba(255, 0, 0, 0.6); /* 条纹的颜色 */
    opacity: 0; /* 开始时不可见 */
    border-right: 1px solid red;
    animation: wave 0.8s linear; /* 设置动画属性 */
    &:nth-child(1) {
      animation-delay: 0s;
    }
    &:nth-child(2) {
      animation-delay: 0.05s;
    }
    &:nth-child(3) {
      animation-delay: 0.1s;
    }
    &:nth-child(4) {
      animation-delay: 0.15s;
    }
    &:nth-child(5) {
      animation-delay: 0.2s;
    }
    &:nth-child(6) {
      animation-delay: 0.2s;
    }
    &:nth-child(7) {
      animation-delay: 0.2s;
    }
    &:nth-child(8) {
      animation-delay: 0.25s;
    }
    &:nth-child(9) {
      animation-delay: 0.4s;
    }
    &:nth-child(10) {
      animation-delay: 0.45s;
    }
    &:nth-child(11) {
      animation-delay: 0.5s;
    }
    &:nth-child(12) {
      animation-delay: 0.55s;
    }
  }
}

@keyframes wave {
  0% {
    opacity: 0; /* 动画开始时不可见 */
  }
  50% {
    opacity: 1; /* 动画中间时可见 */
  }
  100% {
    opacity: 0; /* 动画结束时不可见 */
    // display: none;
  }
}
